.App {
  text-align: center;
  background-color: black;
  text-color: blue;
  height: 140px;
  position: relative;
}

ul{
  background-color: darkgrey;
}

form {
  background-color: pink;
}

div {
  background-color: darkgrey;
}

h2 { 
  background: crimson;
}
